body{
    padding:0 30px;
}

.main img{
    width: 100%;
}

.menu-main{
    list-style: none;
    margin: 40px 0 5px;
    padding: 25px 0 5px;
    text-align: center;
    background: white;
}
.menu-main li{
    display: inline-block;
}
.menu-main li:after{
    content: "|";
    color: #606060;
    display: inline-block;
    vertical-align:top;
}
.menu-main li:last-child:after {content: none;}
.menu-main a {
  text-decoration: none;
  font-family: 'Ubuntu Condensed', sans-serif;
  letter-spacing: 2px;
  position: relative;
  padding-bottom: 20px;
  margin: 0 34px 0 30px;
  font-size: 17px;
  text-transform: uppercase;
  display: inline-block;
  transition: color .2s;
}
.menu-main a, .menu-main a:visited {color: #9d999d;}
.menu-main a.current, .menu-main a:hover{color: #feb386;}
.menu-main a:before,
.menu-main a:after {
  content: "";
  position: absolute;
  height: 4px;
  top: auto;
  right: 50%;
  bottom: -5px;
  left: 50%;
  background: #feb386;
  transition: .8s;
}
.menu-main a:hover:before, .menu-main .current:before {left: 0;}
.menu-main a:hover:after, .menu-main .current:after {right: 0;}   
@media (max-width: 550px) {
.menu-main {padding-top: 0;}
.menu-main li {display: block;}
.menu-main li:after {content: none;}
.menu-main a {
  padding: 25px 0 20px; 
  margin: 0 30px;
}
}

nav ul{
white-space: nowrap;


}
nav li{
    width: 20%;
    display:inline-block;
  
}
nav li img{
    width: 60%;
    height: 60%;
}

main{
    max-width: 100%;
    margin:80px auto;
    padding:0 40px;
    
    
}

article h1{
    color:blueviolet;
    font-size:48px;
}

 article p{
    line-height: 1.5em;
    color:darkgray;
    text-align:justify; 
}

table, th, td {
    border: 1px solid rgb(94, 32, 200);
    width: 80%;
    margin:auto;
  }

  caption{
text-align: center;
color:green;
padding: 2%;
  }
 
  

footer{
    background-color: #f4f4f4;
    text-align: center;
    padding:5px;
    color:black;
    
}

article .politik p span{
    color:#000;

}

.uzbekistan img{
    width: 50%;
}





